*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  justify-content: center;
  align-items: center;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}


.content {
  width: 1140px;
  display: flex;
  gap: 30px;
  align-items: end;
  margin: 133px 30px;
}

.result {
  padding-top: 78px;
}

.content__details {
  width: 100%;
  height: 100%;
}

.content__list-container {
  display: flex;
  flex-direction: column;
  height: 297px;
  overflow: auto;
  gap: 30px
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.result__video-container {
  width: 711px;
  height: 386px;
  margin-bottom: 16px;
}

.result__video {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.content__video-card {
  display: flex;
  align-items: start;
}

.content__video-card-thumbnail {
  min-width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
}

.content__video-card-description-container {
  flex-grow: 1;
  max-width: 196px;
}

.search-form__fieldset-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  padding-bottom: 5px;
}

.title {
  font-family: Oswald, sans-serif;
  font-weight: 700;
  font-size: 75px;
  line-height: 94%;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 1);
  padding-bottom: 26px;
}


.content__accent {
  color: rgba(84, 80, 80, 1)
}

.content__card-link {
  text-decoration: none;
  color: rgba(255, 255, 255, 1)
}

.content__video-card-title {
  font-family: Oswald, sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 100%;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 1);
  text-overflow: ellipsis;
  padding-right: 10px;
  white-space: nowrap;
  overflow: hidden;
  padding-bottom: 6px;
}

.content__video-card-description {
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 16.2px;
  color: rgba(255, 255, 255, 1);
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box; /* Используем бокс */
  -webkit-box-orient: vertical; /* Устанавливаем вертикальную ориентацию */
  -webkit-line-clamp: 3; /* Ограничиваем до трех строк */
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__fieldset {
  display: block;
  border: none;
  width: 225px;
  height: 54px;
}

.search-form__fieldset:not(:first-child) {
  padding-left: 7px;
}

.search-form__label {
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 5px;
}

input {
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  color: currentColor;
  background-color: inherit;
  border-top: 1px solid rgba(255, 255, 255, 1);
  border-right: none;
  border-left: none;
  border-bottom: 1px solid rgba(255, 255, 255, 1);
}

.search-form__textfield {
  width: 225px;
  height: 27px;
  font-family: 'Fira Sans Condensed', sans-serif;
}

.search-form__textfield::placeholder {
  color: rgba(255, 255, 255, 0.7);
  appearance: none;
}

.search-form__label:focus {
  outline: none;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid rgba(255, 255, 255, 1);
}

.search-form__pseudo-checkbox {
  width: 19px;
  height: 19px;
  border: 1px solid rgba(255, 255, 255, 1);
  padding: 1px;
}

.search-form__pseudo-checkbox::after {
  display: block;
  width: 100%;
  height: 100%;
  content: "";
  background-color: rgba(255, 255, 255, 1);
  opacity: 0;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  opacity: 1;
}

.search-form__label:has(.search-form__checkbox):hover {
  text-decoration: underline;
  cursor: pointer;
  text-underline-offset: 3px;
}

.button {
  border: 1px solid rgba(255, 255, 255, 1);
  font-family: "Fira Sans Condensed", sans-serif;
  line-height: 100%;
  font-weight: 700;
  font-size: 18px;
  background-color: transparent;
  color: rgba(255, 255, 255, 1);
  padding-bottom: 6px;
  padding-top: 6px;
}

.search-form__submit-button {
  width: 194px;
  align-self: end;
}

.more-button {
  width: 100%;
}

.button:hover {
  cursor: pointer;
  text-decoration: underline;
  text-underline-offset: 3px;
}

.button:active {
  background-color: rgba(84, 80, 80, 1);
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid rgba(255, 255, 255, 1);
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid rgba(255, 255, 255, 1);
}

.content__card-link {
  display: block;
}

.content__card-link:active {
  background-color: rgba(84, 80, 80, 1);
}

.content__card-link:hover {
  text-decoration: underline;
}

.content__card-link_current {
  background-color: rgba(84, 80, 80, 1);
}

.content__list-item {
  padding: 0 3px;
}

.result__video-container {
  position: relative;
}

.content__list-container {
  position: relative;
}

.preloader {
  position: absolute;
}