*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  justify-content: center;
  align-items: center;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}


.content {
  width: 1140px;
  display: flex;
  gap: 30px;
  align-items: end;
  margin: 133px 30px;
}

.result {
}

.content__details {
  width: 100%;
  height: 100%;
}

.title {
  padding-bottom: 26px;
}

.title {
  padding-bottom: 26px;
}

.content__list-container {
  height: 375px;
  overflow: auto;
}

.content__list {
}


.search-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 16px;
}

.search-form__textfield {

}

.search-form__fieldset {

}

.button {
}

.result__video-container {

}

.result__video {

}
