*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  justify-content: center;
  align-items: center;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}


.content {
  width: 1140px;
  min-height: 534px;
  display: flex;
  gap: 30px;
  align-items: end;
  margin: 133px 30px;
}

.result {
  padding-top: 78px;
}

.content__details {
  width: 100%;
  height: 100%;
}

.title {
  padding-bottom: 26px;
}

.content__list-container {
  display: flex;
  flex-direction: column;
  height: 297px;
  overflow: auto;
  gap: 30px
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.result__video-container {
  width: 711px;
  height: 386px;
  margin-bottom: 16px;
}

.result__video {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.content__video-card {
  display: flex;
  align-items: start;
}

.content__video-card-thumbnail {
  min-width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
}

.content__video-card-description-container {
  flex-grow: 1;
  max-width: 196px;
}

.search-form__fieldset-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
}

.title {
  font-family: Oswald, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 75px;
  line-height: 94%;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 1)
}

.content__accent {
  font-family: Oswald, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 75px;
  line-height: 94%;
  text-transform: uppercase;
  color: rgba(84, 80, 80, 1)
}

.content__card-link {
  text-decoration: none;
  color: rgba(255, 255, 255, 1)
}

.content__video-card-title {
  font-family: Oswald, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 30px;
  line-height: 100%;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 1);
  text-overflow: ellipsis;
  padding-right: 10px;
  white-space: nowrap;
  overflow: hidden;
}

.content__video-card-description {
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 16.2px;
  color: rgba(255, 255, 255, 1);
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box; /* Используем бокс */
  -webkit-box-orient: vertical; /* Устанавливаем вертикальную ориентацию */
  -webkit-line-clamp: 3; /* Ограничиваем до трех строк */
}

.content__video-card-description